<nav id="top" class="navbar justify-content-between sticky-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand h1" href="/">NextMVC - ADMIN</a>
  <div><%= current_admin.email %></div>
  <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-primary" %>
</nav>