<main class="content">
  <div class="container-fluid p-0">

    <h3>Users</h3>

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @profiles.each do |profile| %>
                  <%= render partial: "administration/profiles/table_row", locals: {profile: profile} %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
</main>
